.note {
  border: 2px solid black;
  padding: 4px;
}
#list {
  display: block;
  position: fixed;
  height: 100%;
}
#list button {
  display: block;
}
#noteArea {
  display: block;
  position: fixed;
  left: 100px;
}
.hidden {
  display: none;
}
#title {
  display: block;
}
#contents {
  display: block;
  height: 200px;
}
.date {
  font-size: .5em;
}
